@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
}
