/* https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes pulse {
  from {
    /* ... */
  }
  1% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  90%, 95% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
  99% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }
  to {
    /* ... */   
  }
}
