# Keep this file even if directory has been ignored
!.keep

# Don't commit Node dependencies
/node_modules/
**/node_modules/

# Don't commit test runtime and reporting
/.nyc_output/
/coverage/

# Don't commit build output
/build/
/postcss-prefixwrap-*.tgz
/package/

# Don't commit any log files
*.log

# Don't commit IDE configuration
/.idea
