# Don't lint fixtures used in testing that must retain current configuration
/src/acceptance/fixtures/

# Don't lint Node dependencies
/node_modules/
/pnpm-lock.yaml

# Don't lint test
/.nyc_output/
/coverage/

# Don't lint build output
/build/
/package/
