/* Ensure that these top level tags are replaced. */
html {
  font-size: 16px;
}

body {
  color: green;
}

:root {
  background-color: orange;
}

p,
body,
img {
  color: green;
}

/* Ensure their child selectors are not replaced. */
html p {
  font-style: italic;
}

/* Ensure is not confused by body. */
tbody {
  border: 10px solid red;
}
