/* Ensure classes are prefixed. */
.something {
    font-size: 40px;
}

/* Ensure child selectors are kept. */
.something p {
    color: red;
}

body {
    background-color: blue;
}

html {
    line-height: 16px;
}
