/* Ensure classes are prefixed. */
.my-container .something, .my-container.something {
    font-size: 40px;
}

/* Ensure child selectors are kept. */
.my-container .something p, .my-container.something p {
    color: red;
}

.my-container .body, .my-container.body {
    background-color: blue;
}

.my-container .html, .my-container.html {
    line-height: 16px;
}
