/* Ensure that these top level tags are replaced. */
.my-container {
  font-size: 16px;
}

.my-container {
  color: green;
}

.my-container {
  background-color: orange;
}

.my-container p, .my-container, .my-container img {
  color: green;
}

/* Ensure their child selectors are not replaced. */
.my-container p {
  font-style: italic;
}

/* Ensure is not confused by body. */
.my-container tbody {
  border: 10px solid red;
}
