/* Ensure that these top level tags are replaced. */
.my-container {
  font-size: 16px;
}

.my-container {
  color: green;
}

/* Ensure their child selectors are not replaced. */
.my-container p {
  font-style: italic;
}
