---
name: "ci"

on:
  schedule:
    # 11pm UTC (9am Brisbane)
    - cron: "0 23 * * *"
  pull_request: {}
  push:
    branches:
      - "master"

env:
  CI: true

jobs:
  run:
    runs-on: "ubuntu-20.04"

    strategy:
      matrix:
        node-version: ["12.x", "14.x", "15.x"]

    steps:
      - uses: "actions/checkout@v1"

      - name: "Use Node.js ${{ matrix.node-version }}"
        uses: "actions/setup-node@v1"
        with:
          node-version: "${{ matrix.node-version }}"

      - name: "Install"
        run: "yarn install --no-audit"

      - name: "Verify"
        run: 'yarn lint && yarn test && yarn codecov --token="${CODECOV_TOKEN}"'

      - name: "Build"
        run: "yarn build"
