---
name: "ci"

on:
    pull_request:
        branches:
            - "main"
    push:
        branches:
            - "main"

permissions: "read-all"

jobs:
    bun:
        runs-on: "ubuntu-latest"

        strategy:
            matrix:
                bun-version: ["latest"]

        steps:
            - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"
            - name: "Use Bun ${{ matrix.bun-version }}"
              uses: "oven-sh/setup-bun@b7a1c7ccf290d58743029c4f6903da283811b979"
              with: { bun-version: "${{ matrix.bun-version }}" }
            - run: "bun install"
            - run: "bun run lint"
            - run: "bun run test"
            - run: "bun run build"

    deno:
        runs-on: "ubuntu-latest"

        strategy:
            matrix:
                deno-version: ["2.x"]

        steps:
            - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"
            - name: "Use Deno ${{ matrix.deno-version }}"
              uses: "denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb"
              with: { deno-version: "v${{ matrix.deno-version }}" }
            - run: "deno install"
            - run: "deno task lint"
            - run: "deno task test"
            - run: "deno task build"

    node:
        runs-on: "ubuntu-latest"

        strategy:
            matrix:
                # https://nodejs.org/en/about/previous-releases
                node-version: ["20.x", "22.x", "24.x"]

        steps:
            - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"
            - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061"
              with: { version: "latest" }
            - name: "Use Node.js ${{ matrix.node-version }}"
              uses: "actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f"
              with:
                  node-version: "${{ matrix.node-version }}"
                  cache: "pnpm"
            - run: "make install"
            - run: "make audit_signatures"
            - run: "make lint"
            - run: "make test"
            - run: "make build"
