---
name: "release"

on:
    release:
        types: ["published"]

permissions: "read-all"

jobs:
    release:
        runs-on: "ubuntu-latest"

        permissions:
            contents: "read"
            id-token: "write"

        steps:
            - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8"
            - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061"
              with:
                  version: "latest"
            - uses: "actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f"
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
                  registry-url: "https://registry.npmjs.org"
            - run: "make install"
            - run: "make audit_signatures"
            - run: "make build"
            - run: "make lint"
            - run: "make test"
            - run: "npm install -g npm@latest"
            - run: "npm publish --no-git-checks"
