---
name: "release"

on:
    release:
        types: ["published"]

permissions: "read-all"

jobs:
    release:
        runs-on: "ubuntu-latest"

        permissions:
            contents: "read"
            id-token: "write"

        steps:
            - uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd"
            - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061"
              with:
                  version: "latest"
            - uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
                  registry-url: "https://registry.npmjs.org"
            - run: "make install"
            - run: "make audit_signatures"
            - run: "make build"
            - run: "make lint"
            - run: "make test"
            - run: "make publish"
