---
name: "release"

on:
    release:
        types: ["published"]

permissions: "read-all"

jobs:
    release:
        runs-on: "ubuntu-latest"

        permissions:
            contents: "read"
            id-token: "write"

        steps:
            - uses: "actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd"
            - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061"
              with:
                  version: "latest"
            - uses: "actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238"
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
                  registry-url: "https://registry.npmjs.org"
            - run: "make install"
            - run: "make audit_signatures"
            - run: "make build"
            - run: "make lint"
            - run: "make test"
            - run: "npm install -g npm@latest"
            - run: "npm publish --no-git-checks"
