---
name: "sast"

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
  schedule:
    - cron: "19 19 * * 4"

jobs:
  snyk:
    permissions:
      contents: "read"
      security-events: "write"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "pnpm/action-setup@v2.2.4"
        with:
          version: "latest"
      - uses: "actions/setup-node@v3"
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - uses: "snyk/actions/setup@master"
      - run: "make install"
      - run: "snyk test --all-projects --detection-depth=1 --sarif-file-output=snyk.sarif"
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - uses: "github/codeql-action/upload-sarif@v2"
        with:
          sarif_file: "snyk.sarif"

  codeql:
    runs-on: "ubuntu-latest"

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: "actions/checkout@v3"
      - uses: "github/codeql-action/init@v2"
        with:
          languages: "typescript"
      - uses: "pnpm/action-setup@v2.2.4"
        with:
          version: "latest"
      - uses: "actions/setup-node@v3"
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: "make install"
      - uses: "github/codeql-action/analyze@v2"
