---
name: "sast"

on:
    pull_request:
        branches:
            - "main"
    push:
        branches:
            - "main"
    schedule:
        - cron: "19 19 * * 4"

permissions: "read-all"

jobs:
    ossf:
        runs-on: "ubuntu-latest"
        # ossf scorecard only supported on main branch
        if: github.event_name != 'pull_request'
        permissions:
            security-events: "write"
            id-token: "write"
            contents: "read"
            actions: "read"
        steps:
            - uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd"
              with:
                  persist-credentials: false
            - uses: "ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a"
              with:
                  results_file: "results.sarif"
                  results_format: "sarif"
                  publish_results: true
            - uses: "actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4"
              with:
                  name: "SARIF file"
                  path: "results.sarif"
                  retention-days: 5
            - uses: "github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db"
              with:
                  sarif_file: "results.sarif"

    codeql:
        runs-on: "ubuntu-latest"

        permissions:
            actions: read
            contents: read
            security-events: write

        steps:
            - uses: "actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd"
            - uses: "github/codeql-action/init@014f16e7ab1402f30e7c3329d33797e7948572db"
              with:
                  languages: "typescript"
            - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061"
              with:
                  version: "latest"
            - uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903"
              with:
                  node-version-file: ".nvmrc"
                  cache: "pnpm"
            - run: "make install"
            - uses: "github/codeql-action/analyze@014f16e7ab1402f30e7c3329d33797e7948572db"
